{
  "presets": [
    [
      "@babel/env",
      {
        "modules": false,
        "targets": {
          "browsers": ["> 0.1%", "iOS >= 7.0", "Android >= 4.3"]
        },
        "useBuiltIns": "usage"
      }
    ]
  ]
}
